/* Standaard */
.node
{
	fill: #eee;
	stroke-width: 1px;
	cursor: move;
}
.nodeActivity
{
	fill: #eae4d7;
	stroke:#bfac88;
}
.nodeCondition
{
	fill: #4c97d6;
}
.nodeBelief
{
	fill: #4c97d6;
}
.nodeGoal
{
	fill: #ffffff;
}
.nodeOutcome
{
	fill: #ffffff;
	stroke:#bfac88;
}
.nodedummy
{
	display:none;
}

.link
{
	stroke:#bfac88;
	stroke-width: 1px;
	marker-end:#standaard;
}

.linktooltip
{
	stroke:#222;
	stroke-opacity:0;
	stroke-width:7px;
	cursor: help;
}
.linktooltip:hover
{
	stroke-opacity:0.3;
}

.group
{
  stroke: #bfac88;
  stroke-width: 1px;
  fill: #eae4d7;
  fill-opacity:0;
  stroke-opacity:1;
}

.grouplabelrect
{
	fill:#fff;
	fill-opacity:0.5;
}

.label
{
  	font-size:17px; /* 17px is 13 pt.*/
	font-family:Open Sans,Arial,Helvetica,sans-serif;
	fill:#222;
	cursor: move;
	text-anchor:middle;
}
.labelBelief
{
	fill: #fff;
}
.labelGoal
{
	fill:#4c97d6;
}
.labelOutcome
{
	fill:#4c97d6;
}

#elementTooltip
{
	position:absolute;
	z-index:10;
	visibility:hidden;
	color:#ffffff;
	font-weight:bold;
	background-color:#000000;
	border: 1px solid #000000;
	padding:5px;
}

.elementTooltip:hover
{
	visibility:hidden;
	stroke-opacity:0.8;
}

marker#standaard
{
	fill:#bfac88;
	stroke: #bfac88;
}

.l1hover
{
	visibility:hidden;
}

.popup
{
	position:fixed;
	z-index:10;
	top: 50px;
	bottom: 50px;
	left: 50px;
	right: 50px;
	background-color:#eae4d7;
	border: 2px solid #bfac88;
	padding:5px;
}

#popupOverlay
{
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background-color:#333333;
	z-index:9;
	opacity: 0.4;
	display:none;
}

.modelembed
{
	position:absolute;
	z-index:11;
	overflow:scroll;
	top: 100px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#visualisatiepaginacontainer
{
	overflow:scroll;
	width:100%;
}

.background
{
    stroke: #eae4d7;
    stroke-width: 1px;
    fill: #eae4d7;
}

#instanceBalk
{
	text-align: center;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}

.keuzelijst
{
	background-color:#F5F5F5;
	border:1px solid #888888;
	border-bottom:0px;
	padding: 5px;
}

.keuzelijstDisabled
{
	background-color:#959595;
	color: #444444;
	border-bottom:0px;
	padding: 5px;
	cursor:not-allowed;
}

.keuzelijstFrame
{
	position:absolute;
	z-index:11;
	overflow-y:auto;
	top: 100px;
	bottom: 15px;
	left: 6%;
	right: 6%;

}
.keuzelijstFrame > div:last-child
{
	border-bottom:1px solid #888888;
}

.keuzelijstHover
{
	background-color:#bfac88;
	color:#f5f5f5;
	cursor:pointer;
}

.keuzelijstSelected
{
	background-color:#4c97d6 !important;
	color:#f5f5f5;
}

#contextMenu
{
	position:absolute;
	z-index:10;
	font-weight:bold;
	border: 1px solid #000000;
	padding:0px;
	background-color: #ffffff;
	color:#000000;
}

#contextMenu > div:last-child
{
	border-bottom:1px solid #888888;
}

.contextMenuItem
{
	border:1px solid #888888;
	border-bottom:0px;
	padding:3px;
}

.contextMenuItemHover
{
	background-color:#bfac88;
	color:#f5f5f5;
	cursor:default;
}